################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/obj/Debug
/bin/Debug
/.vs/PhysikLaborSatellit/v15/Server/sqlite3/db.lock
